{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<script>
    function checkpass()
    {
        if(document.change_password.new_password.value!=document.change_password.confirm_password.value)
        {
            alert('Your New Password and Confirm Password field doest not match');
            document.change_password.confirm_password.focus();
            return false;
        }
        return true;
    }
</script>

<marquee style=" font-family:'Monotype Corsiva'; font-size : 25px ; color: green ; background-color : black ; font-weight: bold ; margin-top : 1%">
    Change Recruiter Password
</marquee>

<hr>

<form class="form_style mt-4" method="post" name="change_password" onsubmit="return checkpass()">
    {% csrf_token %}

        <div class="text-box">
            <label><b>Old Password</b></label>
            <input type="password" class="form-control" name="old_password">
        </div>
         <div class="text-box">
             <label><b>New Password</b></label>
             <input type="password" class="form-control" name="new_password">
        </div>
      <div class="text-box">
             <label><b>Confirm Password</b></label>
             <input type="password" class="form-control" name="confirm_password">
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" style="margin-top:2% ; color:darkcyan ; background-color:black ; height:40px">
</form>

{% ifequal error "no" %}
<script>
    alert("Your password changed successfully")
    window.location = ('{% url 'Logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong!!")
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("You Entered your Old Password is wrong. PLease enter again!!")
</script>
{% endifequal %}

{% endblock %}
